:root {
  --button-bg: #fdb0ab;
  --main-bg: #F3F8F3;
  --interest-label: #FDB0AB;
  --interest-bg: #142A31;
  --gallery-img-bg: #F9FAFB;
}

body {
  font-family: sans-serif, Arial;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: inherit;
}
body.disable-scroll {
  overflow: hidden;
}

.button {
  border: none;
  outline: none;
  border-radius: 25px;
}
