:root {
  --button-bg: #fdb0ab;
  --button-dark: #102f38;
  --main-bg: #f3f8f3;
  --interest-label: #fdb0ab;
  --interest-bg: #142a31;
  --gallery-img-bg: #f9fafb;
  --footer-color: #667085;
}

* {
  font-weight: 400;
}

body {
  color: var(--interest-bg);
}
a {
  text-decoration: none;
  color: inherit;
}
body.disable-scroll {
  overflow: hidden;
}

.button {
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  opacity: 0.95;
  font-family: "Roboto", sans-serif;
  &:hover {
    opacity: 1;
  }
}
