:root {
  --button-bg: #fdb0ab;
}

body {
  font-family: sans-serif, Arial;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: inherit;
}
body.disable-scroll {
  overflow: hidden;
}

.button {
  border: none;
  outline: none;
}
