.express {
  margin: 100px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > .express__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    & > h3 {
      font-size: 2.2rem;
      font-family: "Roboto", sans-serif;
    }

    & > p {
      font-size: 1rem;
      max-width: 450px;
      font-family: "Poppins", sans-serif;
    }
  }
}

@media screen and (max-width: 768px) {
  .express {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 70px 0px;

    & > .express__img {
      display: none;
    }
    & > .express__text {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
