.footer {
  margin: 100px 0px;
  display: flex;
  justify-content: space-between;
  & .footer__links {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    height: 100%;
    font-family: "DM Sans", sans-serif;

    & span {
      color: #027a48;
      padding: 5px;
      background-color: #055e39 / 70;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 70px 0px;
    align-items: center;
    gap: 30px;

    & .footer__links {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
    }
    & > div > img {
      display: none;
    }
  }
}

@media screen and (max-width: 480px) {
  .footer {
    margin: 40px 0px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    & > div {
      width: 100%;
    }

    & .footer__links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
