.interest {
    margin: 100px 0px;
    display: flex;
    justify-content: space-between;
    & > div{
        & > h3 {
            margin-top: 30px;
            font-size: 2.2rem;
        }
    
        & >p {
            margin-top: 30px;
            font-size: 0.9rem;
            max-width: 400px;
        }
    }

}