.navbar {
  margin-top: 10px;
  display: flex;
  align-items: center;

  & img {
    margin-right: 20px;
    object-fit: fill;
  }

  & > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    gap: 25px;

    & li {
      font-family: "Courier New", "sans-serif";
      font-weight: 400;
    }
  }

  & button {
    background: var(--button-bg);
    padding: 15px 25px;
    text-transform: uppercase;
    text-align: center;
  }
}
