.privacy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--footer-color);
  font-size: 0.95rem;
  margin-bottom: 40px;

  & > div {
    margin-top: 20px;
    max-width: 630px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Poppins", sans-serif;
  }

  & span {
    cursor: pointer;
    text-align: center;
    font-family: "Roboto", sans-serif;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 768px) {
  .privacy {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
